# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python37:
      python.version: '3.7'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    sudo apt-get -qy install libicu-dev
    python -m pip install --upgrade pip
    CFLAGS="-std=c++11" pip install pyicu
    pip install -e './python[test]'
  displayName: 'Install dependencies'

- script: |
    pip install pytest-azurepipelines
    pytest
  displayName: 'pytest'
