[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
markupsafe = "==2.0.1"
regex = "*"
sphinx = ">=4.4.0"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
# Work around various issues
sphinx-js = {git = "https://github.com/tavianator/sphinx-js",ref = "44d94acfa61044963f5f7d9d94c7105400bdcfb3"}
bistring = {editable = true,path = "./../python"}
