[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
Sphinx = ">=3.2.1"
# Need the workaround for https://github.com/mozilla/sphinx-js/issues/110
sphinx-js = {git = "https://github.com/tavianator/sphinx-js",ref = "ad515dced59c16c8b958e5dfb0eaf8943885945c"}
bistring = {editable = true,path = "./../python"}
regex = "*"
