[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
regex = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
sphinx-js = {git = "https://github.com/pyodide/sphinx-js", ref = "28105a224ec6c4c3141d10e182b9feaae7f10183"}
pydantic = "<2.0"
bistring = {editable = true, path = "./../python"}
